canvas {
    position: absolute;
    top: 15%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.75);
    height: 100%;
}