.todo__status--finished{
    background-color:rgba(0, 255, 0, 0.2);
}

.todo__status--pending{
    background-color:rgba(255, 255, 0, 0.2);
}

.todo__status--late{
    background-color:rgba(255, 0, 0, 0.2);
}

.date_input_todo{
    width: 141px;
}